
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/SqlLabDataGenerator/.vs/*
library/SqlLabDataGenerator/SqlLabDataGenerator/bin/*
library/SqlLabDataGenerator/SqlLabDataGenerator/obj/*

# ignore PowerShell Studio MetaData
library/SqlLabDataGenerator.csproj
library/SqlLabDataGenerator.csproj.bak
library/SqlLabDataGenerator.csprojs

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*